//Colors
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$main-back: rgb(250, 250, 250);

$font-size: 1.6rem;

$font-family: "Commissioner", sans-serif;
$font-weight-thin: 400;
$font-weight-med: 500;
$font-weight-thick: 700;
