@use "../abstracts" as *;

.header {
	width: 100vw;
	height: 46vh;
	background-image: url("/images/image-hero-desktop.jpg");

	&_box {
		height: 35%;
		width: 100%;
		// background-color: red;

		display: flex;
		justify-content: space-between;
		align-items: center;

		&__image {
			margin-left: 10vw;

			img {
				transform: scale(1.5);
			}
		}

		ul {
			display: flex;
			list-style: none;
			margin-right: 8vw;

			li {
				padding: 0 1.5rem;
				margin: 0 2rem;
				color: $main-back;
				font-size: 2rem;
				font-weight: $font-weight-thick;
				border-radius: 10px;
				white-space: nowrap;
				transition: all 0.5s ease;
				background: linear-gradient(
					135deg,
					$dark-cyan 50%,
					transparent 50%
				);
				background-size: 0%;
				background-repeat: no-repeat;

				&:hover {
					transform: scale(1.1);
					background-size: 300%;
					color: $white;
					cursor: pointer;
				}
			}
		}
	}
}
