@use "../abstracts" as *;

.main_content {
	position: absolute;
	top: 38vh;
	left: 50%;
	transform: translateX(-50%);

	width: 50vw;
	display: block;
	background: rgba(0, 0, 0, 0);

	& > div:not(:last-child) {
		box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.03);
		background: white;
		margin-bottom: 3rem;
		border-radius: 0.4rem;
		padding: 4rem;
	}
	.foot_box {
		position: absolute;
		left: 0;
		bottom: -6rem;
		height: 1rem;
		width: 100%;
	}

	.title_box {
		position: relative;

		& > div:not(:first-child) {
			margin-top: 2rem;
		}

		&__title {
			font-size: 2.5rem;
			font-weight: $font-weight-thick;
			text-align: center;
			color: $black;
			margin-bottom: 0;
		}

		&__content {
			text-align: center;
		}

		&_options {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 6rem;
			padding: 0 2rem;

			&__button {
			}
			&__bookmark {
				position: relative;

				height: 100%;
				& .icon {
					height: 6rem;
					position: absolute;
					top: 0;
					left: 0;
					fill: red;
				}
			}
		}

		&__logo {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
}
