@use "../abstracts" as *;

html {
	font-size: 62.5%; //resets 1 rem to 10px
}

body {
	font-family: $font-family;
	font-size: $font-size;
	background: $main-back;
	position: relative;
	padding-bottom: 50rem;
	@include respond(mobile) {
		background-color: red;
	}
}
